[Desktop Entry]
Name=LibrePCB
Comment=Design Schematics and PCBs
GenericName=PCB Designer
Categories=Development;Engineering;Electronics;
Type=Application
Terminal=false
Icon=org.librepcb.LibrePCB
Exec=librepcb %U
MimeType=application/x-librepcb-project;application/x-librepcb-project-archive;
Comment[de]=Entwerfen eines Schaltplans oder einer Platine
Comment[ru_RU]=Разработка схем и печатных плат
Comment[sk]=Návrh schém a dosiek s plošnými spojmi
Comment[uk_UA]=Проектування схем та плат
Comment[zh_CN]=设计原理图和 PCB
GenericName[ru_RU]=Дизайнер печатных плат
GenericName[sk]=Návrhár plošných spojov
